<app-header fromParent="this from parent about to the  child header"> </app-header>
<p>about works!</p>
<h3>to display this, add component path (url end)in the app.module</h3>
{{pagename}}
<div>
    <h1>Login form</h1>

    <div><input type="text" placeholder="enter username" [(ngModel)]="username"></div>
    <div><input type="text" placeholder="enter password"[(ngModel)]="password"></div>
    <div><input type="button" value="Click here " (click)="validate()"></div>

</div>
<div><input type="button" value="Click servicelogic" (click)="Servicemethod()"></div>
<div><input type="button" value="Click servicelogic alert" (click)="servicealertmethod()"></div>
<div >
    <button (click)="getapi()">show data</button> 
    <div *ngFor="let response of userresponse">
        {{response.email}}
    </div>
   
  </div>

  <input type="button" value="Call server api method" (click)="loaderapi()">
  <div *ngIf="Loadershown"class="loader_css">
    <img src="" alt="">
</div>
<h1>{{currencypipe | currency:'Rs'}}</h1>
<div>
    <h1>{{currentDate}}</h1>
 </div>
 <p>Date format changed using pipes</p>
 <div>
    <h1>{{currentDate| date}}</h1>
 </div>
 <div>
    <h1>{{currentDate| date:'medium'}}</h1>
 </div>
 <div>
    <h1>{{currentDate| date:'fullDate'}}</h1>
 </div>
 <h1>{{num| square}}</h1>
 <h1>{{num1| square}}</h1>
 