<app-header currentpage="home"></app-header>
<section class="banner_main">
    <div class="container">
       <div class="row">
          <div class="col-md-12 ">
             <div class="text-bg">
                <h1>FARMING COMPANY</h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it</p>
                <a href="#">Discover</a>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- end banner -->
 <!-- three_box -->
 <div class="three_box">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <div class="box_text">
                <figure><img src="../../assets/images/img1.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-4">
             <div class="box_text">
                <figure><img src="../../assets/images/img2.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-4">
             <div class="box_text">
                <figure><img src="../../assets/images/img3.jpg" alt="#"/></figure>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- three_box -->
 <!-- hottest -->
 <!-- <div  class="hottest">
    <div class="container">
       <div class="row d_flex">
          <div class="col-md-5">
             <div class="titlepage">
                <h2>World’s Hottest Destinations <br>for Vegans</h2>
             </div>
          </div>
          <div class="col-md-7">
             <div class="hottest_box">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined </p>
             </div>
          </div>
       </div>
    </div>
 </div>
 </div>
 </div>
 <!-- end hottest -->
 <!-- choose  section -->
  <div class="choose ">
    <div class="container">
       <div class="row">
          <div class="col-md-8">
             <div class="titlepage">
                <h2>Why Choose Us? </h2>
                <p>there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined  </p>
             </div>
          </div>
       </div>
    </div>
    <div class="container-fluid">
       <div class="row d_flex">
          <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
             <div class="padding_with">
                <div class="row">
                   <div class="col-md-6 padding_bottom">
                      <div class="choose_box">
                         <i><img src="../../assets/images/icon1.png" alt="#"/></i>
                         <div class="choose_text">
                            <h3>Excellent Service</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a</p>
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6 padding_bottom">
                      <div class="choose_box">
                         <i><img src="../../assets/images/icon2.png" alt="#"/></i>
                         <div class="choose_text">
                            <h3>Clean Working</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a</p>
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6 padding_bottom2">
                      <div class="choose_box">
                         <i><img src="../../assets/images/icon3.png" alt="#"/></i>
                         <div class="choose_text">
                            <h3>Quality And Reliability</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a</p>
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="choose_box">
                         <i><img src="../../assets/images/icon4.png" alt="#"/></i>
                         <div class="choose_text">
                            <h3>Expert Farmer</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
             <div class="choose_img">
                <figure><img src="../../assets/images/food.jpg" alt="#"/></figure>
             </div>
          </div>
       </div>
    </div>
    <div class="container">
       <div class="row">
          <div class="col-md-5">
             <a class="read_more" href="#">Read More</a>
          </div>
       </div>
    </div>
 </div>
 
 <!-- end choose  section -->
 <!-- product  section -->
 
 <!-- end product  section -->



 
 
<app-footer></app-footer>

 